select#index page
<div>
  <input id="player_name" name="player_name" type="text" />
  <button id="player_select_button">決定</button>
</div>
<div id="chara_type" style="display: none;" data-chara-type="<%= @chara_type %>"></div>
