<div class="text-center">
<%#  <%= render 'shared/header' %>
</div>

<div id="error">
  <h1>404 Not Found</h1>
  <p>指定されたページは見つかりません。</p>
  <p><a href="/">トップページへ戻る</a></p>
</div>

<div class="text-center">
<%#  <%= render 'shared/footer' %>
</div>
