<div id="main" role="main" style="padding-top:50px;">

	<h2 id="catch">
		<a href="http://www.cocacola.jp/copa/"><img src="/images/title_copa.png" title="COPA COCA-COLA2015" /></a></h2>
	<div id="copy_top" style="padding:1.5em 0;">
		Twitterへの投稿が完了しました。
	</div>
	<div id="type">
		<a href="http://www.cocacola.jp/copa/"><img src="/images/top_characters.png" title="COPA COCA-COLA2015" /></a>
	</div>
	<input type="button" value="大会特設サイトへ" onclick="location.href='http://www.cocacola.jp/copa/'" />


</div>
<div id="jleague" class="dispTbl">
	<div class="dispCell w30 vM"><img src="/images/cocacola-jleague.png" title="COPA COCA-COLA2015" /></div>
	<div class="dispCell w70 vM">コカ・コーラはＪリーグのトップパートナーです</div>
</div>
